body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url("../img/pexels-baskincreativeco-1766838.jpg"); /* hoặc link ảnh online */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(135, 132, 132, 0.2);
  width: 400px; /* tăng từ 320px lên */
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  background: #0072ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #005fc1;
}

p {
  text-align: center;
  margin-top: 15px;
}

a {
  color: #0072ff;
  cursor: pointer;
}
.toggle-password {
  position: relative;
  top: -34px;
  left: calc(100% - 30px);
  cursor: pointer;
  user-select: none;
  font-size: 18px;
}
